.navbar-default .navbar-brand {
  font-family: 'Dancing Script', cursive;
  color: #fff;
}

.navbar-shrink {
  color: #000;
}

#gallery {
  color: #fff;
  background-color: #000;
}

.owl-stage-outer {
  height: 400px;
}
